.textHeader{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #474747;
}

.textCard {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #474747;
}

.card { 
    width: 75px;
    height: 75px;
    box-shadow: 0px 0px 4px rgba(135, 135, 135, 0.25);
    border-radius: 8px;
    cursor: pointer; 
   
} 
.imgMenu {
    width: 30px;
    height: 30px; 
}