* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavbarItems {
    z-index: 5;
    font-weight: bold;
    background: #0a66c2;
    /* opacity: 90%; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLogo {
    color: white;
    justify-self: start;
    margin-right: 5%;
    cursor: pointer;
    z-index: 1;
}

.navMenu {
    display: flex;
    grid-gap: 20px;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 0%;
}

.navMenu li a {
    color: white;
    text-align: center;
}

.navMenu li p {
    margin-top: 5%;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navMenu li:hover {
    background-color: cornsilk;
    color: #494e50;
    border-radius: 6px;
    transition: all 0.3s ease-out;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 6rem;
}

.btnLogin {
    background-color: white;
    color: #121213;
    border: none;
    font-weight: bold;
}

.btnRegister {
    background-color: white;
    color: #121213;
    border: none;
    font-weight: bold;
}

.btn li .btn1 {
    font-weight: bold;
    color: white;
    border: none;
    background-color: rgba(255, 47, 0, 0.5);
}

.btn li .btn1:hover {
    background-color: #494e50;
    color: white;
}

.btn li .btn2 {
    font-weight: bold;
    color: #494e50;
    border: none;
    background-color: rgba(255, 255, 255, 0.81);
}

.btn li .btn2:hover {
    background-color: #494e50;
    color: white;
    border: rgba(255, 255, 255, 0.81);
}

.menuIconWrapper {
    display: none;
}

.logout {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .menuIconWrapper {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transform: translate(-150%, 30%);
        font-size: 2rem;
        color: white;
        cursor: pointer;
        z-index: 1;
    }

    .menuIicon {
        transition: 0.5s;
    }

    .navbarLogo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translate(50%, 30%);
    }

    .navMenu {
        padding-left: 0;
        position: fixed;
        background: #0a66c2;
        height: 100vh;
        width: 100%;
        top: 0%;
        flex-direction: column;
        pointer-events: none;
        justify-content: center;
        clip-path: circle(0% at 100% 0%);
        -webkit-clip-path: circle(0% at 100% 0%);
        transition: all 1s ease-out;
        pointer-events: none;
        grid-gap: 5%;
        margin-bottom: 2rem;
    }

    .navMenu.active {
        clip-path: circle(140% at 100% 10%);
        -webkit-clip-path: circle(140%x at 100% 10%);
        pointer-events: all;
    }

    .navMenu li:hover {
        background-color: cornsilk;
        border-radius: 6px;
        transition: all 0.2s ease-out;
    }

    .btn {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-left: 0rem;
        align-items: center;
    }

    .btnLogin {
        padding: 1rem 6rem 1rem 6rem;
    }

    .btnRegister {
        padding: 1rem 5.5rem 1rem 5.5rem;
    }


    .btn li .btn1 {
        color: white;
        background-color: rgba(255, 47, 0, 0.61);
        padding: 1rem 3rem;
    }

    .btn li .btn2 {
        color: #121213;
        background-color: rgba(255, 255, 255, 0.81);
        padding: 1rem 3.4rem;
    }

    .logout {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-10%, -10%);
        color: white;
        font-size: 2rem;
        padding: 0.5rem;

    }

    .logout::after {
        content: "logout";
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        letter-spacing: 2px;
    }

}


@media screen and (max-width: 576px) {
    .NavbarItems {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9pt;
    }

    .navMenu {
        grid-gap: 3%;
    }

    .btnLogin {
        font-size: 9pt;
    }


    .btnRegister {
        font-size: 9pt;
    }

    .menuIconWrapper {
        font-size: 1.5rem;
    }

    .btn {
        gap: 2rem;
    }


    .btn li .btn1 {
        font-size: 0.8rem;
    }

    .btn li .btn2 {
        font-size: 0.8rem;
    }

    .logout {
        font-size: 1.5rem;
    }

}


