.cardTitle{
    font-family:"Roboto" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}

.cardText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #747474;
}
.imgLogo{
    position: relative;
}