.card{
    filter: drop-shadow(0px 0px 4px rgba(147, 147, 147, 0.25));
    background: #FFFFFF;
    border-radius: 8px;
}
.textCard {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    margin-top: 3px;
}

.textBody {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
}

.imgCard {
    width: 146px;
    height: 110px;
    background: transparent;
}

.cardButton {
    height: 50px;
}

.btnAdd{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #304FFE;
}
.btnDelete{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #E94335;
}